<div class="shell">
  <aside class="sidebar">
    <div class="brand">
      <div class="logo">🚗</div>
      <div class="title">
        <h2>Totem Locadora</h2>
        <span>painel</span>
      </div>
    </div>

    <nav class="nav">
      <a routerLink="/home" routerLinkActive="active" [routerLinkActiveOptions]="{exact:true}">
        <span>🏠</span> Início
      </a>
      <a routerLink="/veiculos" routerLinkActive="active">
        <span>🚙</span> Veículos
      </a>
      <a routerLink="/clientes" routerLinkActive="active">
        <span>👤</span> Clientes
      </a>
      <a routerLink="/locacoes" routerLinkActive="active">
        <span>🧾</span> Locações
      </a>
    </nav>

    
  </aside>

  <main class="content">
    <header class="topbar">
      <h1>Bem-vindo 👋</h1>
      <div class="spacer"></div>
      <button class="top-logout" (click)="logout()" title="Sair">Sair</button>
    </header>

 

   

     <router-outlet></router-outlet>
  </main>
</div>
