

<section class="dashboard">
  <a class="card" routerLink="/veiculos">
    <div class="icon">🚙</div>
    <div>
      <h3>Veículos</h3>
      <small>Cadastro e listagem</small>
    </div>
  </a>

  <a class="card" routerLink="/clientes">
    <div class="icon">👤</div>
    <div>
      <h3>Clientes</h3>
      <small>Cadastro e listagem</small>
    </div>
  </a>

  <a class="card" routerLink="/locacoes">
    <div class="icon">🧾</div>
    <div>
      <h3>Locações</h3>
      <small>Gerencie contratos</small>
    </div>
  </a>
</section>
